header {
  background-color: #e8deff;
  text-align: right;
}

.headerClass {
  padding-right: 4px;
}

    .headerClass a:hover {
  color: #252525;
    }

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: "Handjet";
  font-size: 100px;
}

.icon-bar {
  background-color: rgb(181, 156, 241);
  text-align: center;
  font-size: 70px;
}

.fa-regular fa-desktop {
  font-size: 60px;
}

    .icon-bar a:hover {
  background-color: #8469c2;
    }

.body-symbol {
  text-align: center;
  padding: 50px;
  
  
  
}

    .fa-envelope {
         margin: 40px;
    }
    .fa-gamepad {
        margin: 40px;
        font-size: 75px;
    }
    .fa-desktop {
        margin: 40px;
        font-size: 60px;
    }
    .fa-square-question {
         margin: 40px;
         font-size: 65px;       
    }




footer {
  color: #252525;
  background-color: rgb(232, 222, 255);
  padding: 30px;
  text-align: center;
}

    footer span {
  color: #87858b;
    }